{% extends 'parent.html'%}
{% block body %}
<h1 style="color:black;text-align:center;"><i>Get In touch with Us</i></h1>
<hr style="background:grey"/>
<img height="300px" width="400px" src="static/images/t3.jpg" style="float:left"/>
<b style="color:grey">Address</b>
<p>1355 Market St, Suite 900</p>
<p>Gorakhpur, CA 94103</p>
<p>P: (123) 456-7890</p>
<a href="#" style="text-decoration:none;color:grey">Full name</a><br/><br/>
<a href="#" style="text-decoration:none;color:#4A4453">RajsahilProfessinal@gmail.com</a><br/><br/>
<a href="#" style="text-decoration:none;color:grey">Phone</a><br/><br/>
<a href="#" style="text-decoration:none;color:#4A4453">8081509611</a>

{%endblock body%}