{% extends 'parent.html'%}
{% block body %}
<style>
.pright{
    background-image: linear-gradient(to bottom, #e38c0d, #e29222, #e19731, #e09c3e, #dfa14a, #dca14f, #d9a154, #d6a159, #d09d58, #ca9857, #c49455, #be9054);
}
</style>
<h1 style="color:black;text-align:center">Human resource Management System</h1>
<br/>
<p style="font-size:17px;font-family:Book Antiqua;color:white">A humansources management system (HRMS) or human resources information system (HRIS) or human capital management (HCM) is a form of human resources (HR) software that combines a number of systems and processes to ensure the easy management of human resources, business processes and data. Human resources software is used by businesses to combine a number of necessary HR functions, such as storing employee data, managing payroll, recruitment, benefits administration, time and attendance, employee performance management, and tracking competency and training records.
</p><p style="font-size:17px;font-family:Book Antiqua;color:white">A human resources management system ensures everyday human resources processes are manageable and easy to access. It merges human resources as a discipline and, in particular, its basic HR activities and processes with the information technology field, whereas the programming of data processing systems evolved into standardized routines and packages of enterprise resource planning (ERP) software. On the whole, these ERP systems have their origin from software that integrates information from different applications into one universal database. The linkage of its financial and human resource modules through one database is the most important distinction to the individually and proprietarily developed predecessors, which makes this software application both rigid and flexible.</p>

{%endblock body%}